*{
    margin: 0;
    padding: 0;
    background-color: #444141;
   color: aliceblue;
    
}

.main{
    color: aliceblue;
    border: 6px solid whitesmoke;
    display: flexbox;
    flex-direction: column;
    width: 300px;
    box-shadow:  0 0 20px 0 slategrey;
    margin: 100px;
    padding: 40px;
}
button{
    display: flex;
    font-weight: 100px;
    height: 50px;
    padding: 100px;
    width: 50px;
    justify-content: center;
    padding: 10px;
  cursor: pointer ;
}

.row{
    display: flex;
    
    padding: 10px;

}
.input{
    position: relative;
    top: 10px;
    left: 10px;
    height: 30px;

}